<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/jobseeker/landingpage" >Worklinks</a>
    </div>
    <div class="buttn" id="pages">
        <a href="#" class="comp" routerLink="/seekers-profile" style="font-size: 18px;"> Profile</a>
        <button class="btn " id="loginb" routerLink="/job/application">Apply Job</button>
        <button class="btn " id="loginb" routerLink="/">Logout</button>
    </div>
  </div>
</nav>


<!-- Body -->
<div class="container">
  <!--hero-->
  <div class="herofinal">
  

    <!-- <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="hero" style="width:100%; opacity: 90%; height: 100%; object-fit: cover;"> -->
    <div class="centered">
      <div class="hero-text" style=" color: white; text-align: center;">
        <h4 style="font-size: 36px; font-weight: 650;">Find your dream job and apply today</h4> <br>
        <p style="font-size: 24px; font-weight: 450">Join our growing community where we connect you to the right job and let you apply</p>
        <div class="row align-items-center" style="padding-top:20px ;">
          <div class="col"></div>
          <div class="col">
            <button type="button" class="btn pri1" routerLink="/job/application">Find a job today</button>
          </div>
          <div class="col"></div>
        </div>
      </div> 
    </div>
  </div>
</div>
<div class="container">
    
      <br>
      <hr>
      <br>
      <!--statistics-->
      <div class="row align-items-center" style="text-align: center;">
        <div class="col" style=" border-right: 1px solid grey; font-size: 36px; color: #E2AA2E;">
          <h4><strong>10k +</strong> </h4>
          <p>jobs</p>
        </div>
        <div class="col" style=" border-right: 1px solid grey; color: #49224A;">
          <h4><strong>5k</strong></h4>
          <p>matches made</p>
        </div>
        <div class="col" style="color: #E2AA2E;">
          <h4><strong>10k +</strong></h4>
          <p>jobseekers</p>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <!--why job seekers love us-->
      <div class="row " style="text-align: left; min-height: 450px; column-gap: 40px;">
        <div class="col" id="jobseekers">
          <h4></h4>
          <h5></h5>
        </div>
        <div class="col">
          <div class="jobseekers">
            <h4>Why jobseekers love us</h4><br>
            <ul>
              <li> We help jobseekers<strong> grow </strong>their careers & showcase their skills & qualifications to <strong> potential employers.</strong> </li>
              <li> Say goodbye to cover letters - your profile is all you need. Your next job is<strong> one click </strong>away</li>
              <li> Find a job that is <strong>consistent, rewarding and reflective</strong>  of your skill set</li>
              <li> Open up a whole new world of <strong>opportunity</strong> and possibilities </li>
            </ul>
            <div class="row align-items-center" style="padding-top:20px ;">
              <div class="col"></div>
              <div class="col">
                <!-- <button type="button" class="btn pri1" routerLink="/jobseeker/register">Sign up now</button> -->
              </div>
              <div class="col"></div>
            </div>
          </div> 
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row " style="text-align: left; min-height: 450px; column-gap: 40px;">
        <div class="col">
          <div class="hero">
            <h4>Why employers love us</h4><br>
            <ul>
              <li> <strong> Browse</strong> through jobseekers' profiles based on category and salary expectations</li>
              <li> Find <strong>qualified</strong> candidates for your company.</li>
              <li>  <strong> contact</strong> ONLY jobseekers who already have what you are looking for instead of going through hundreds of applications;</li>
            </ul>
            <div class="row align-items-center" style="padding-top:20px ;">
              <div class="col"></div>
              <div class="col">
                <button type="button" class="btn pri1" routerLink="/employer/register">Sign up now</button>
              </div>
              <div class="col"></div>
            </div>
          </div> 
        </div>
        <div class="col" id="recruiters">
          <h4></h4>
          <h5></h5>
        </div>
      </div>
      <br>
      <hr>
      <br>
          <h4 style="text-align: center;">What we offer</h4>
          <br>
      <div class="container-fluid" style="background-color: rgb(246, 246, 246); margin-top: 20px; padding-top: 20px;">
        <div class="row align-items-center" style="text-align: center;">
          
          <br>
          <div class="row" style="min-height: 400px; padding-left: 150px; padding-right: 150px; padding-top: 50px;">
            <div class="col">
              <h5 >CV Writting  - 90%</h5>
              <div class="progress red">
                  <div class="progress-bar" style="width: 90%;  background-color:#49224a;">
                  </div>
              </div>
              <br>
              <h5  >Mentorship  - 50%</h5>
              <div class="progress green">
                  <div class="progress-bar" style="width: 50%;  background-color:#E2AA2E">
                  </div>
              </div>
              <br>
              <h5>Company Placement - 80%</h5>
              <div class="progress blue">
                  <div class="progress-bar" style="width:80%;  background-color:#49224a;">
                  </div>
              </div>
              <br>
              <h5>Global Internships - 65%</h5>
              <div class="progress yellow">
                  <div class="progress-bar" style="width:65%; background-color:#E2AA2E;">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <app-testimonials></app-testimonials> 
  </div>

