<app-recruiter-navbar></app-recruiter-navbar>
<div class="container">


    <div class="top">
        <div class="card" style="width: 18rem;">
            <img src="/assets/images/WhatsApp_Image_2022-04-27_at_3.05.31_PM-removebg-preview.png" width="300" height="150" class="card-img-top" alt="...">


        </div>


        <div class="form-group post-job">

            <input type="text" class="form-control mb-4" placeholder="Search " [(ngModel)]="searchFilter" id="listSearch">

        </div>


        <div class="post-job">
            <a href="/post-job"> <button class="btn btn-outline-success" type="submit">Post Job</button></a>
        </div>

    </div>
    <div class="row gx-5  ">
        <div class="jobs col-md-6" *ngFor="let job of jobs| searchFilter: searchFilter">
            <div class="p-3 border">
                <h3>{{job.title}}</h3>
                <div class="sub-head top">
                    <p><i class="fa fa-briefcase" aria-hidden="true"></i>{{job.jobtype}}</p>
                    <p><i class="fa fa-users" aria-hidden="true"></i>6 Applicants</p>
                </div>
                <br>
                <p>{{job.requirements}}</p>
                <div class="sub-head top">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i><small> {{job.location}}</small></p>
                    <p><i class="fa fa-trash-o" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>


    </div>