<div class="container">
    <app-recruiter-navbar></app-recruiter-navbar>
    <div class="top">
        <div class="card" style="width: 18rem;">
            <img src="/assets/images/WhatsApp_Image_2022-04-27_at_3.05.31_PM-removebg-preview.png" width="300" height="150" class="card-img-top" alt="...">


        </div>
        <div class="form">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search Job Seeker" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="post-job">
            <a href=""> <button class="btn btn-outline-success" type="submit">Post Job</button></a>
        </div>

    </div>
</div>