.top {
    display: flex;
    justify-content: space-between;
}

.form {
    margin-top: 4rem;
}

.d-flex input {
    border: 2px solid #49224A;
}

.post-job {
    margin-top: 4rem;
}

.btn {
    background-color: #E2AA2E;
}

.p-3 {
    padding: 1rem;
}

.p-3:hover {
    box-shadow: 2px 2px 2px 2px #49224A;
}

p {
    color: #49224A;
}

h3 {
    color: #49224A;
    text-align: center;
}

.sub-head p {
    color: #E2AA2E;
    font-weight: 800;
}

.card-title {
    text-align: center;
}

.jobs {
    /* border: 2px solid red; */
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.btn-pri{
  background-color: #E2AA2E;
  color: white;
 
}

.btn-sec{
  background-color: #49224A;
  color: white;
  border: solid white 1px;
}