<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family: 'Big Shoulders Stencil Text', cursive; font-size: 40px; margin-left: 300px;" href="#">WorkLinks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="d-flex" id="navbarSupportedContent" style="margin-right: 280px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="font-size:larger;" routerLink="/jobseeker/landingpage">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="font-size:larger;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/seekers-profile">View Profile</a></li>
                        <li><a class="dropdown-item" href="/recruiter-profile">Update Profile</a></li>

                    </ul>
                </li>
                <li>
                    <button class="btn btn-sec" type="submit" routerLink="/">LogOut</button>
                </li>

            </ul>



        </div>
    </div>
</nav>

<div class="container">


    <div class="form col-md-6">
        <app-profile-form></app-profile-form>
    </div>




</div>