<app-navigation-bar></app-navigation-bar>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-3">
      <div class="text-center">
        
      </div>
      <form [formGroup]="loginForm" action="" (ngSubmit)="onSubmit()">
        <div class="head">
          <h1>Login</h1>
          <p>Create an account and start <br> recruiting </p>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="email">Email address:</label><br>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email"><br>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            <span class="error" *ngIf="email?.invalid && email?.touched">this field is required</span>
          </div>
          <!-- <div class="form-group">
            <label for="name">Company name:</label>
            <input type="text" class="form-control" id="name" placeholder="Company name:" formControlName="name">
          </div>
          <div class="form-group">
            <label for="Phone">Phone number:</label>
            <input type="text" class="form-control" id="phone" placeholder="phone number" formControlName="phone">
          </div> -->
          <div class="form-group">
            <label for="Password1">Password:</label><br>
            <input type="password" class="form-control" id="Password1" placeholder="Password" formControlName="password1"><br>
            <span class="error" *ngIf="password1?.invalid && password1?.touched">this field is required</span>
            <!-- <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div> -->

          </div>
          <!-- <div class="form-group">
            <label for="Password2">Confirm password</label>
            <input type="password" class="form-control" id="Password2" placeholder="Confirm password" formControlName="password2">
            <div id="passwordHelpBlock" class="form-text">
              Your password must match
            </div>
          </div> -->
          <div>
            <!-- <button type="submit" class="btn btn-primary">Back</button> -->
            <button type="submit" class="btn btn-pri" style="margin-left: 220px;">Sign In</button>
          </div>
        </div>
      </form>
      <div>
        <p>Don't have an account?<a class="nav-item nav-link" routerLink="/employer/register">Sign up</a></p>
      </div>
      <p></p>
      <div class="row"></div>
      
    </div>
  </div>
</div>

