<app-recruiter-navbar></app-recruiter-navbar>
<div class="container">
    <h2 class="text-center">Create Company's Profile to get started with WorkLinks</h2>
    <br>
    <br>

    <form [formGroup]='form' (ngsubmit)="submit()">
        <h4>Company Information</h4>

        <hr>
        <div class="form-group">

            <label for="name">Job-title</label>

            <input formControlName="title" type="text" required class="form-control" id="name">

        </div>

        <div class="form-group">

            <label for="name">Location</label>
            <input formControlName="location" type="text" required class="form-control" id="name">

        </div>



        <br>
        <div class="form-group">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Job-Type</label>
                <select formControlName="jobtype" class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
      <option value="Full-Time">Full-Time</option>
      <option value="Full-Time">Remote</option>
      <option value="Part-Time">Part-Time</option>
      
      
    </select>

            </div>

        </div>






        <br>

        <div class="form-group">

            <label for="description">Requirements</label>
            <textarea formControlName="requirements" class="form-control" id="description" rows="4" required></textarea>

        </div>
        <br>
        <br>
        <div class="btn">
            <button type="submit" class="btn btn-primary">Post Job</button>

        </div>
    </form>
</div>