<div class="container-fluid">
    <h2 class="text-center">Create Profile to get started with WorkLinks</h2>
    <br>
    <br>
    <h4>Basic Information</h4>

    <hr>
    <form #userPost='ngForm' (ngSubmit)='onSubmit(userPost.value)'>
        <div class="fly">
            <div class="form-group">

                <label for="name">Full Names</label>
                <input type="text" ngModel name="full_name" required class="form-control" id="name">

            </div>
            <div class="form-group">

                <label for="name">Address</label>
                <input type="text" ngModel name="address" required class="form-control" id="name">

            </div>
        </div>
        <div class="fly">
            <div class="form-group">

                <label for="name">Email</label>
                <input type="text" ngModel name="email" required class="form-control" id="name">

            </div>
            <!-- <div class="form-group">

                <label for="name">Contact</label>
                <input type="text" ngModel name="full_name"  required class="form-control" id="name">

            </div> -->
        </div>
        <div class="fly">
            <div class="form-group">

                <label for="name">Profile Photo</label> <br>
                <form action="" method="post" enctype="multipart/form-data">
                    <input ngModel name="profile_image" type="file">
                </form>

            </div>



            <br>
            <div class="form-group">
                <label>Upload Resume</label> <br>
                <form action="" method="post" enctype="multipart/form-data">
                    <input ngModel name="resume" type="file">
                </form>

            </div>
        </div>
        <div class="form-group">

            <label for="description">Bio</label>
            <textarea ngModel name="bio" class="form-control" id="description" rows="4" required></textarea>

        </div>
        <br>
        <br>

        <h4>Profesional Information</h4>
        <hr>
        <br>
        <!-- <div class="input-group mb-3">

            <label class="input-group-text" for="inputGroupSelect01">Education Level</label>
            <select ngModel name="full_name" class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
  <option value="High school">High school</option>
  <option value="Certification program">Certification program</option>
  <option value="Vocational">Vocational/Polytechnic collage</option>
  <option value="Associate degree program">Associate degree program</option>
  <option value="Bachelors degree program">Bachelors degree program</option>
  <option value="Masters degree program">Masters degree program</option>
  <option value="Doctorate program">Doctorate program</option>
</select>

        </div> -->
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Work experience</label>
            <select ngModel name="work_experience" class="form-select" id="inputGroupSelect01">
                
  <option value='Less than a year'>Less than a year</option>
  <option value='one to three year' >1 to 3 </option>
  <option value='three to five years'>3 to 5 years</option>
  <option value='Five years and more'>5+ years</option>
  
</select>

        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Skills</label>
            <select ngModel name="skills" class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
  <option value='Cognitive'>Cognitive Skills</option>
  <option value='Management'>Management Skills</option>
  <option value='Interpersonal'>Interpersonal Skills</option>
  <option value='Other skills'> <label>Other skills</label> <br><input type="text" required class="form-control" id="name"></option>
  
</select>

        </div>
        <div class="form-group">

            <label for="description">Refferre</label>
            <textarea ngModel name="referees" class="form-control" id="description" rows="4" required></textarea>

        </div>
        <div class="btn">
            <button type="submit" class="btn btn-outline-success">Submit Profile</button>

        </div>
    </form>
</div>