<!-- <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Worklinks</a>
      </div>
    <div class="buttn" id="pages">
        <a href="#" class="jobse"> Home</a>
        <a href="#" class="comp"> Dashboard</a>


        <a href="#" class="comp" > Create job</a>
        <button class="btn " id="loginb">Logout</button>
    </div>
</nav> -->
<app-recruiter-navbar></app-recruiter-navbar>
<div class="container">
  <!-- <div class="applicantspg">
    <div class="complogo">
        <img src="../assets/146258-removebg-preview.png" alt="" class="logo">
        <p class="weblink">@worklinksltd.com</p>
        <a href="#" class="udetails"> Update Details</a>
        <a href="#" class="vprofile"> View Profile</a>
    </div>
    <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="search for job seekers      " name="search2"  class="fa fa-search" id="searchicon" >
    
      </form>

      <button class="btn " id="searchb">Search</button> -->
      <div class="top">
        <div class="card" style="width: 18rem;">
            <img src="/assets/images/WhatsApp_Image_2022-04-27_at_3.05.31_PM-removebg-preview.png" width="300" height="150" class="card-img-top" alt="...">


        </div>


        <div class="form-group post-job">

            <input type="text" class="form-control mb-4" placeholder="Search "  id="listSearch">

        </div>

</div>

<h1 class="headera">Applicants</h1>

<div class="applicantf">
    <img src="../assets/profilepic.jpg" alt="" height="200px" width="200px">
    <p class="info" style="margin-left: 300px;"><strong>Zara Kim</strong>       |    zarakim@gmail.com</p>

    <h3 class="skills">Skills</h3>
    <p class="listskills">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, hic repudiandae aspernatur voluptatum reprehenderit error omnis itaque perspiciatis praesentium incidunt, magni distinctio dolores, eos natus nihil. Assumenda accusamus officiis recusandae!</p>
    <!-- <button class="btn " id="viewp" routerLink="/seekers-profile">View full profile</button> -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-pri" data-bs-toggle="modal" data-bs-target="#exampleModal">
      View profile
    </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div></div>
          <div class="prof">
              <div class="pic">
                  <i class="fa fas fa-user" aria-hidden="true" id="profile"></i>
              </div>
              <div class="details">
                  <h5><span> <i class="fa  fa-user" aria-hidden="true"></i>:</span>Sareto Tracy</h5>
                  <h5><span><i class="fa fa-envelope" aria-hidden="true"></i>:</span>sarteotracy@gmail.com</h5>
                  <h5><span><i class="fa fa-address-card" aria-hidden="true"></i>:</span>vineyard 43 street </h5>
                  <h5><span><i class="fa fa-phone-square" aria-hidden="true"></i>:</span>0745939721</h5>
              </div>
          </div>
          <div class="row">
              <div class="bio">
                  <h3>Bio</h3>
                  <div class="p-3 bi border">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
                  </div>
              </div>
              <div class="bio">
                  <h3>Work Experience</h3>
                  <div class="p-3 bi border">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
                  </div>
              </div>
              <div class="bio">
                  <h3>Education</h3>
                  <div class="p-3 bi border">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
                  </div>
              </div>
              <!-- <div class="bio">
                  <h3>Skills</h3>
                  <div class=" p-3 bi border">
                      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                          <div class="col">
                              <div class="p-3 border bg-light">Soft Skills</div>
                          </div>
                          <div class="col">
                              <div class="p-3 border bg-light">React</div>
                          </div>
                          <div class="col">
                              <div class="p-3 border bg-light">JavaScript</div>
                          </div>
                          <div class="col">
                              <div class="p-3 border bg-light">Software Development</div>
                          </div>
                          <div class="col">
                              <div class="p-3 border bg-light">Project Managment</div>
                          </div>
                      </div>
                  </div>
              </div> -->
              <div class="bio">
                  <h3>References</h3>
                  <div class=" p-3 bi border">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: #E2AA2E; background-color: white;">Close</button>
        <button type="button" class="btn btn-pri">Contact</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="applicantf">
    <img src="../assets/profilepic.jpg" alt="" height="200px" width="200px">
    <p class="info" style="margin-left: 300px;"><strong>Name      |    Email</strong></p>

    <h3 class="skills">Skills</h3>
    <p class="listskills">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, hic repudiandae aspernatur voluptatum reprehenderit error omnis itaque perspiciatis praesentium incidunt, magni distinctio dolores, eos natus nihil. Assumenda accusamus officiis recusandae!</p>
    <button class="btn " id="viewp">View full profile</button>

</div>

<div class="applicantf">
    <img src="../assets/profilepic.jpg" alt="" height="200px" width="200px">
    <p class="info" style="margin-left: 300px;"><strong>Name      |    Email</strong></p>

    <h3 class="skills">Skills</h3>
    <p class="listskills">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, hic repudiandae aspernatur voluptatum reprehenderit error omnis itaque perspiciatis praesentium incidunt, magni distinctio dolores, eos natus nihil. Assumenda accusamus officiis recusandae!</p>
    <button class="btn " id="viewp">View full profile</button>

</div>
</div>

