<app-recruiter-navbar></app-recruiter-navbar>
<div class="container" style="padding-top: 150px;">


    <div class="top">
        <div class="card" style="width: 18rem;">
            <img src="/assets/images/WhatsApp_Image_2022-04-27_at_3.05.31_PM-removebg-preview.png" width="300" height="150" class="card-img-top" alt="...">


        </div>


        <div class="form-group post-job">

            <input type="text" class="form-control mb-4" placeholder="Search " id="listSearch">

        </div>


        <div class="post-job">
            <a href="/post-job"> <button class="btn btn-pri" type="submit">Post Job</button></a>
        </div>

    </div>

    <h4 class="headera">{{apply.length}} Candidates Applied For this job</h4>

    <!-- <div class="row gx-5">
        <div class="col-md-6">
            <div class=" p-3 border" *ngFor="let apply of apply">
                <h5 class="card-title">{{apply.Full_Name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{apply.Email}}</h6>
                <p class="card-text">{{apply.Contact}}</p>
                <p class="card-text">{{apply.Salary_Expectations}}
                    <p>
                        <button class="btn " id="viewp">View full profile</button>

            </div>
        </div>
    </div> -->
    <div class="row gx-5  ">
        <div class="jobs col-md-6" *ngFor="let apply of apply" style="margin-bottom: 20px;">

            <div class="p-3 border">
                <h3>{{apply.Full_Name}}</h3>
                <div class="sub-head top">
                    <p><i class="fa fas fa-envelope" aria-hidden="true"></i> : {{apply.Email}}</p>

                </div>
                <br>
                <p><i class="fa fa-phone-square" aria-hidden="true"></i> : {{apply.Contact}}</p>
                <div class="sub-head top">
                    <p><i class="fa fa-money" aria-hidden="true"></i>: {{apply.Salary_Expectations}}</p>
                    <button class="btn " id="viewp">View full profile</button>

                </div>
            </div>
        </div>


    </div>
</div>

<!-- <div class="applicantf" *ngFor="let apply of apply">

        <p class="info"><strong>{{apply.Full_Name}}</strong> | zarakim@gmail.com</p>

        <p class="info">{{apply.Contact}}</p>

        <p class="listskills">{{apply.Email}}

        </p>
        <p class="info">{{apply.Salary_Expectations}}</p>
        <button class="btn " id="viewp">View full profile</button>

    </div> -->