<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Worklinks</a>
      </div>
    <div class="buttn" id="pages">
        <a href="#" class="jobse"> Home</a>
        <a href="#" class="comp"> Dashboard</a>


        <a href="#" class="comp" > Create job</a>
        <button class="btn " id="loginb">Logout</button>
    </div>
</nav>
<div class="applicantspg">
    <div class="complogo">
        <img src="../assets/146258-removebg-preview.png" alt="" class="logo">
        <p class="weblink">@worklinksltd.com</p>
        <a href="#" class="udetails"> Update Details</a>
        <a href="#" class="vprofile"> View Profile</a>
    </div>
    <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="search for job seekers      " name="search2"  class="fa fa-search" id="searchicon" >
    
      </form>

      <button class="btn " id="searchb">Search</button>
</div>

<h1 class="headera">Applicants</h1>

<div class="applicantf">
    <img src="../assets/profilepic.jpg" alt="" height="200px" width="200px">
    <p class="info"><strong>Zara Kim</strong>       |    zarakim@gmail.com</p>

    <h3 class="skills">Skills</h3>
    <p class="listskills">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, hic repudiandae aspernatur voluptatum reprehenderit error omnis itaque perspiciatis praesentium incidunt, magni distinctio dolores, eos natus nihil. Assumenda accusamus officiis recusandae!</p>
    <button class="btn " id="viewp">View full profile</button>

</div>

<div class="applicantf">
    <img src="../assets/profilepic.jpg" alt="" height="200px" width="200px">
    <p class="info"><strong>Name      |    Email</strong></p>

    <h3 class="skills">Skills</h3>
    <p class="listskills">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, hic repudiandae aspernatur voluptatum reprehenderit error omnis itaque perspiciatis praesentium incidunt, magni distinctio dolores, eos natus nihil. Assumenda accusamus officiis recusandae!</p>
    <button class="btn " id="viewp">View full profile</button>

</div>

<div class="applicantf">
    <img src="../assets/profilepic.jpg" alt="" height="200px" width="200px">
    <p class="info"><strong>Name      |    Email</strong></p>

    <h3 class="skills">Skills</h3>
    <p class="listskills">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, hic repudiandae aspernatur voluptatum reprehenderit error omnis itaque perspiciatis praesentium incidunt, magni distinctio dolores, eos natus nihil. Assumenda accusamus officiis recusandae!</p>
    <button class="btn " id="viewp">View full profile</button>

</div>
