
.weblink{
    margin-left: -80px;
    color: #49224A;
}

.udetails{
    color: #49224A;
    text-decoration: none;
    margin-left: -150px;
    
}
.vprofile{
    color: #49224A;
    text-decoration: none;
    margin-left: 0px;
    
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: white;
    margin-left: 250px;
    margin-top: -200px;
    border-radius: 10px ;

  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.searchicon{
    color: black;
  }

#searchb{
    background-color: #E2AA2E;
    border:none;
    margin-right: 10px;
    color: white;
    margin-left: 1200px;
    margin-top: -390px;
}
.headera{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 30px;
}

.applicantf{
    background-color:white;
    height: 400px;
    /* width: 1000px; */
    border-color: rgb(32, 34, 32);
    border-width: 1px;
    box-shadow: 0px 0px 0px 1px ;
    border-radius: 20px 20px 20px 20px;
    /* margin-left: 240px; */
    padding: 10px;
    margin-bottom: 50px;
}
.info{
    margin-left: 500px;
    margin-top: -100px;

}
.skills{
    margin-top: 100px;
    color: #E2AA2E;
    padding-left: 30px;
}
.listskills{
    padding-left: 30px;
}
#viewp{
    background-color: #E2AA2E;
    color: white;
    margin-left: 30px;
}
.logo{
    height: 200px;
    width: 200px;
    margin-top: -150px;
    margin-left: -100px;
}

.container{
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
}

.post-job {
  margin-top: 4rem;
}

.prof {
  display: flex;
  /* margin: auto;
  width: 50%; */
  justify-content: space-between;
  margin-top: 3rem;
}

span {
  color: #E2AA2E;
}

h5 {
  color: #49224A;
}

.info {
  margin-left: 10rem;
}

/* .bio {
  margin: auto;
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;
} */

#profile {
  font-size: 100px;
  color: #E2AA2E;
}

.p-3 {
  border-radius: 20px;
  color: #49224A;
  box-shadow: 2px 2px 2px #49224A;
}

/* .bi {
  padding: 1.5rem;
  border-radius: 20px;
  margin-left: 5rem;
  width: 70%;
  color: #49224A;
  box-shadow: 2px 2px 2px #49224A;
} */

h3 {
  color: #E2AA2E;
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-menu li a {
  color: #49224A;
}

.btn-sec{
  background-color: #49224A;
  color: white;
  border: solid white 1px;
  
}

.btn-pri{
  background-color: #E2AA2E;
  color: white;
  margin-left: 25px;
 
}
.btn-close{
  background-color: white;
  color: #E2AA2E;
  border: solid white 1px;
 
}

