nav {
    /*text-align: center; */
    font-size: 25px;
    background-color: #49224A;
    color: cornsilk;
}

.navbar-brand {
    color: white;
    font: bold;
    padding-left: 40px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 40px;
}

#loginb {
    background-color: #49224A;
    border-color: white;
    margin-right: 10px;
    color: white;
}

#signb {
    margin-right: 16px;
}

.buttn {
    margin-left: 800px;
}

.jobse {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.comp {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.complogo {
    padding: 180px;
    margin-left: 250px;
    background-color: white;
    margin-top: 150px;
    height: 50px;
    width: 100px;
    border-width: 1px;
    box-shadow: 0px 0px 0px 1px;
    border-radius: 20px 20px 20px 20px;
}

.weblink {
    margin-left: -80px;
    color: #49224A;
}

.udetails {
    color: #49224A;
    text-decoration: none;
    margin-left: -150px;
}

.vprofile {
    color: #49224A;
    text-decoration: none;
    margin-left: 0px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: white;
    margin-left: 250px;
    margin-top: -200px;
    border-radius: 10px;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

h3,
p {
    color: #49224A;
}

.fas {
    color: #E2AA2E;
}

.searchicon {
    color: black;
}

#searchb {
    background-color: #E2AA2E;
    border: none;
    margin-right: 10px;
    color: white;
    margin-left: 1200px;
    margin-top: -390px;
}

.headera {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 30px;
}


/* .applicantf {
    background-color: white;
    height: 400px;
    width: 1000px;
  
    border-width: 1px;
    box-shadow: 0px 0px 0px 1px;
    border-radius: 20px 20px 20px 20px;
     margin-left: 240px; 
    padding: 10px;
    margin-bottom: 50px;
}  */

.info {
    margin-left: 400px;
    margin-top: -100px;
}

.skills {
    margin-top: 100px;
    color: #E2AA2E;
    padding-left: 30px;
}

.listskills {
    padding-left: 30px;
}

#viewp {
    background-color: #E2AA2E;
    color: white;
    margin-left: 30px;
}

.logo {
    height: 200px;
    width: 200px;
    margin-top: -150px;
    margin-left: -100px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.form {
    margin-top: 4rem;
}

.d-flex input {
    border: 2px solid #49224A;
}

.post-job {
    margin-top: 4rem;
}

h4 {
    text-align: center;
    color: #49224A;
}

.btn {
    background-color: #E2AA2E;
}