<app-employer-navbar></app-employer-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-3">
      <div class="text-center">
        <h5>Sign up and start recruiting</h5>
      </div>
      <form [formGroup]="registerForm" action="" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            <span class="error" *ngIf="email?.invalid && email?.touched">this field is required</span>
          
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Username:" formControlName="username">
            <span class="error" *ngIf="username?.invalid && username?.touched">this field is required</span>
          </div>
          <div class="form-group">
            <label for="company-name">Company name:</label>
            <input type="text" class="form-control" id="company-name" placeholder="Company name:" formControlName="companyName">
            <span class="error" *ngIf="companyName?.invalid && companyName?.touched">this field is required</span>
          </div>
          <div class="form-group">
            <label for="Phone">Phone number:</label>
            <input type="text" class="form-control" id="phone" placeholder="phone number" formControlName="phone">
            <span class="error" *ngIf="phone?.invalid && phone?.touched">this field is required</span>
          </div>
          <div class="form-group">
            <label for="Password1">Password:</label>
            <input type="password" class="form-control" id="Password1" placeholder="Password" formControlName="password1">
            <!-- <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div> -->
            <span class="error" *ngIf="password1?.invalid && password1?.touched">this field is required</span>
          </div>
          <div class="form-group">
            <label for="Password2">Confirm password</label>
            <input type="password" class="form-control" id="Password2" placeholder="Confirm password" formControlName="password2">
            <div id="passwordHelpBlock" class="form-text">
              Your password must match
            </div>
            <span class="error" *ngIf="password2?.invalid && password2?.touched">this field is required</span>
          </div>
          <!-- <p>Form status: {{registerForm.status}}</p> -->
          <div>
            <button type="submit" class="btn btn-pri" routerLink="/">Back</button>
            <button type="submit" class="btn btn-sec"data-bs-toggle="modal" data-bs-target="#exampleModal">Get recruiter access</button>
          </div>  
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Payment procedure</h6>
                <ul>
                  <li>Enter your mpesa number</li>
                  <li>Submit the form and wait for a prompt on your phone</li>
                  <li>Enter your mpesa pin and press okay to send</li>
                </ul>
              </div>
              <div class="modal-body">
                <form action=""></form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div>
        <p>Have an account?<a class="nav-item nav-link" routerLink="/employer/login">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
