<app-navigation-bar></app-navigation-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <form [formGroup]="form" (submit)="submit()">
                <div class="text-center">
                    <p>Sign up and start recruiting</p>
                </div>
                <div class="form-group">
                  <label for="name">Username:</label><br>
                  <input formControlName="name" class="form-control" placeholder="Name" required>
                  <br>
                </div>
                <div class="form-group">
                  <label for="email">Email address:</label><br>
                  <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
                  <br>
                </div>
                <div class="form-group">
                  <label for="password">Password:</label><br>
                  <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
                  <br>
                </div>
                <div>
                  <button type="submit" class="btn btn-pri" style="margin-left: 220px;" >Sign up</button>
                </div>
                <!-- <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-pri" routerLink="/">Back</button>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-sec" data-bs-toggle="modal" data-bs-target="#exampleModal">Get recruiter access</button>
                  </div>
                    
                   
                </div> -->


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">

                                <ul>
                                    <h6 class="modal-title" id="exampleModalLabel">Payment procedure</h6>
                                    <li>Enter your mpesa number</li>
                                    <li>Submit the form and wait for a prompt on your phone</li>
                                    <li>Enter your mpesa pin and press okay to send</li>
                                </ul>
                            </div>
                            <div class="modal-body">
                                <form action="" [formGroup]="mpesaForm" (ngSubmit)="lipaNaMpesa()">
                                    <div class="form-group">
                                        <label for="Contact">Mpesa number:</label>
                                        <input type="text" class="form-control" id="contact" placeholder="mpesa number" formControlName="contact" required>
                                        <!-- <span class="error" *ngIf="contact?.invalid && contact?.touched">this field is required</span> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Payment method:</label>
                                        <select class="form-select" aria-label="Default select example">
                      <option selected><label for="amount">Payment method:</label></option>
                      <option value="1">Mpesa</option>
                    </select>
                                    </div>
                                    <fieldset disabled="disabled">
                                        <label for="disabledTextInput" class="form-label">Amount:</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="10,000 KES" formControlName="amount">
                                    </fieldset>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sec" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-pri">Register</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>