@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
section {
    padding: 60px 0;
    min-height: 100vh;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}.bg-gray {
    background-color: #F9F9F9;
}
.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.site-heading h2 span {
  color: #49224A;
}
.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.site-heading h4::before {
  background: #49224A none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}
.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}
.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #FFFFFF none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}
.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #49224A none repeat scroll 0 0;
  border-color: #49224A;
}
.we-offer-area .item {
  background: #FFFFFF none repeat scroll 0 0;
  border-left: 2px solid #0B00A0;
  -moz-box-shadow: 0 0 10px #CCCCCC;
  -webkit-box-shadow: 0 0 10px #CCCCCC;
  -o-box-shadow: 0 0 10px #CCCCCC;
  box-shadow: 0 0 10px #CCCCCC;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}
.we-offer-area.text-center .item {
  background: #FFFFFF none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}
.we-offer-area.text-center .item i {
  background: #49224A none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}
.we-offer-area.text-center .item i::after {
  border: 2px solid #49224A;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.we-offer-area.item-border-less .item {
  border: medium none;
}
.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}
.we-offer-area.item-border-less .item .number {
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #49224A none repeat scroll 0 0;
}
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #FFFFFF;
}
.we-offer-area .item i {
  color: #49224A;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}
.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}
.we-offer-area .item p {
  margin: 0;
}
.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.we-offer-area .item::after {
  background: #49224A none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}
.we-offer-area .item:hover::after {
  left: 0;
}
.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #FFFFFF !important;
}
.we-offer-area.text-center .item:hover i::after {
  border-color: #FFFFFF !important;
}
.we-offer-area.text-center .item:hover i {
  background-color: #FFFFFF !important;
  color: grey !important;
}
.we-offer-area.text-left .item i {
  background: #39393A none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #FFFFFF;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}
.we-offer-area.text-left .item i::after {
  border: 2px solid grey;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}
 #topic1{
   text-align: center;
   text-transform: capitalize;
   color: black;
   font-size: 3rem;
   /* font-family:'Big Shoulders Stencil Text', cursive; */
 }
 #butt{
   margin-left: 35rem;
   flex: 1;
   background-color: white;
   font-weight: bolder;
   font-family:'Big Shoulders Stencil Text', cursive;
 }
 #finya1{
  margin-left: 20rem;
  color: white;
  font-family:'Big Shoulders Stencil Text', cursive;
 }
 .topic09{
  color: black;
 }
 /* members */
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}
.container {
    margin-top: 50px
}
.card {
    border: none;
    border-radius: 13px;
    padding: 0px;
    width: 300px;
    height: 400px;
    position: relative
}
.info {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.info-yellow {
    background-color: #49224A;
    color: #fff;
}
.info-green {
    background-color: #49224A;
    color: #fff
}
.info-blue {
    background-color: #49224A;
    color: #fff
}
.user-icons {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    bottom: 0px;
    right: 23px;
    position: relative
}
.user {
    line-height: 14px
}
.name {
    font-size: 14px;
    margin-left: -10rem;
}
.designation {
    font-size: 10px;
    margin-left: -10rem;
}
.initials{
  color: black;
}
.slide{
  text-align: center;
  color: black;
}
/* bouncy words */
*,
:before,
:after {
    box-sizing: border-box;
}
body {
    background-color: #FDF9FD;
    color: #020407;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}
#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}
h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}
h1:hover {
    animation-play-state: paused;
}
a {
    color: #49224A;
}
a:hover {
    text-decoration: none;
}
@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #49224A,
            0 0 0 #2CFCFD,
            0 0 0 #FB203B,
            0 0 0 #FEFC4B;
    }
    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0C2FFB,
            0 0.25em 0 #2CFCFD,
            0 -0.125em 0 #FB203B,
            0 -0.25em 0 #FEFC4B;
    }
    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0C2FFB,
            0 -0.125em 0 #2CFCFD,
            0 0.0625em 0 #FB203B,
            0 0.125em 0 #FEFC4B;
    }
   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0C2FFB,
            0 0.0625em 0 #2CFCFD,
            0 -0.03125em 0 #FB203B,
            0 -0.0625em 0 #FEFC4B;
    }
    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0C2FFB,
            0 0 0 #2CFCFD,
            0 0 0 #FB203B,
            0 0 0 #FEFC4B;
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}