
<div id="wrapper">
    <div id="container">
        <h1 class="slide">"At WorkLinks we<span style="color: #49224A;"> Serve </span>you better,<span style="color: #49224A;"> Expose</span> you more & <span style="color: #49224A;">Expand </span>your connections."</h1>
        <br>
      <!-- <p  class="slide">We give first class services to Job Seekers.</p>
      <p  class="slide"><small>Providing the best job pop ups in the Kenyan Market <a href="https://github.com/Teri11/worklinks-frontend">WORKLINKS & COMPANY</a>.</small></p> -->
    </div>
</div>
<section  class="we-offer-area text-center bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div style="padding-bottom:30px ;">
                  <h4 class="initials" >Testimonials from our  <span>happy customers</span></h4>
              </div>
          </div>
      </div>
          <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height ">
                  <div class="item">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_JvFQvZ_YVxFM_-Qs0j1bbX-4J08EjcWOgA&usqp=CAU" alt="">
                      <h5 class="initials">Angela Makena</h5>
                      <p class="initials">
                          Great experience all round with these guys. They recently got me placed into a senior position with a brilliant SME. Great communication and great to be treated like a person rather than a “candidate” and would definitely recommend.
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVutU14f0ACMWzMFq1QMVbrJKBNkc2X1VPcA&usqp=CAU" alt="">
                      <h5 class="initials">Arsene Lupin</h5>
                      <p class="initials">
                          I have been lucky enough to be signed up with Worklinks, for a while now. The team are professional and friendly and, I have been placed appropriately and thoughtfully.
                      </p>
                      <!-- <p>Worklinks works with high calibre clients and the rates of finding a job are good.Worklinks and the team are centrally situated in Nairobi so, if you're looking for an agency that will find work for you, pop in their offices for a chat. Excellent Company.</p> -->
                  </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYUVIpNOaAJ-YV_REQCTi1UeI0jxJIqFOoKw&usqp=CAU" alt="">
                      <h5 class="initials">James Mateo</h5>
                      <p class="initials">
                          Such an amazing recruitment company! The team really care and take the time to find out exactly what you want and take away all the stress of recruitment.

                  </div>
              </div>
</div>
  </div>
</section>
<br>
<hr>
<div class="container">
  
  <div class="row align-items-center" style="text-align: center; column-gap: 40px;">
    <h4 style="padding-bottom: 20px;">Work with us</h4>
    <br>
    <br>
    <div class="col" style=" border-right: 1px solid grey;">
      <h5>Let us show you off</h5>
      <p>Apply to be featured and we'll highlight your profile to top recruiters and companies searching for your specific skills.</p>
      <button type="button" class="btn sec1">Promote</button>
    </div>
    <div class="col">
      <h5>Advertise with us</h5>
      <p>Take advantage of our diverse audience. Apply to have your ads featured on our website. We'll display your ad to the right audience.</p>
      <button type="button" class="btn pri1">Advertise</button>
    </div>
  </div>
</div>
<br>
<hr>
<br>

<div class="container">
  <br>
    <h4 style="text-align: center;">Meet our team</h4>
  <br>
   
    <div class="row" style="padding-bottom: 20px;">
        <div class="col">
          <div class="card"> 
            <img src="https://i.imgur.com/iNFaRXx.jpg" class="img-fluid rounded">
            <div style="display: flex; justify-content:center; align-items:center">
              <div class="info info-yellow">
                <span class="user-icons"><img src="https://i.imgur.com/1NZfd8E.png" width="30"></span>
                <div class="user-profile d-flex flex-row">
                  <div class="d-flex flex-column mr-4"> 
                    <span class="name">Sam Disauga</span> <small class="designation">Project Manager</small> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card"> <img src="https://i.imgur.com/4IqYoqv.jpg" class="img-fluid rounded">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="info info-green"> <span class="user-icons"><img src="https://i.imgur.com/BeuqpVv.png" width="30"></span>
                        <div class="user-profile d-flex flex-row">
                            <div class="d-flex flex-column mr-3"> <span class="name">Nick Panagio</span> <small class="designation">Job Allocation Manager</small> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"> <img src="https://i.imgur.com/LvZVIzy.jpg" class="img-fluid rounded">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="info info-blue"> <span class="user-icons"><img src="https://i.imgur.com/1NZfd8E.png" width="30"></span>
                        <div class="user-profile d-flex flex-row">
                            <div class="d-flex flex-column mr-4"> <span class="name">Samuel Marlon</span> <small class="designation">Team Member</small> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
