<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Worklinks</a>
      </div>
    <div class="buttn" id="pages">
        <a href="#" class="home">Home</a>
        <a href="#" class="post">Post</a>
        <a href="#" class="home">Dashboard</a>
        <!-- <button class="btn " id="signb" routerLink="/jobseeker/register">Sign Up</button> -->
        <button class="btn " id="logoutb" routerLink="#">Logout</button>
    </div>
  </nav>
  <br><br><br><br><br>
  <div>
    <div id="block1" class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fa-solid fa-image-portrait"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body rounded">
            <h5 class="card-title">Safaricom PLC</h5>
            <p class="card-text">Nairobi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut, asperiores voluptate, error nobis veniam eveniet et sapiente enim quidem laboriosam! Eius sapiente est dolorum deleniti explicabo rerum rem asperiores!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="block1" class="card" style="max-width: 940px;">
    <div class="card-body">
      <h5 class="card-title">Active Jobs</h5>
      <h6 class="card-subtitle mb-2 text-muted">Jobs you have posted in the last few days</h6><br>
      <p class="card-text">Chief Financial Officer</p>
      <p class="card-text">Nairobi</p>
      <p href="#" class="card-link">150KES- 200KES</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ut illo illum eum, deserunt perspiciatis non sequi, veritatis odit optio debitis quasi ea commodi repudiandae excepturi? Odit error explicabo repudiandae.</p>
      <button type="button" class="btn btn-warning">Delete</button>
    </div>
    <hr>
    <div class="card-body rounded">
      <h5 class="card-title">Active Jobs</h5>
      <h6 class="card-subtitle mb-2 text-muted">Jobs you have posted in the last few days</h6><br>
      <p class="card-text">Chief Financial Officer</p>
      <p class="card-text">Nairobi</p>
      <p href="#" class="card-link">150KES- 200KES</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ut illo illum eum, deserunt perspiciatis non sequi, veritatis odit optio debitis quasi ea commodi repudiandae excepturi? Odit error explicabo repudiandae.</p>
      <button type="button" class="btn btn-warning">Delete</button>
  </div>
 
