nav{
    /*text-align: center; */
    font-size: 25px;
    background-color:#49224A;
    color: cornsilk;
  }
  .navbar-brand{
    color: white;
    font: bold;
    padding-left: 40px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size:40px;
  }
  #logoutb{
    background-color: #49224A;
    border-color: white;
    margin-right: 10px;
    color: white;
  }
  #signb{
   background-color: white;
   color: #49224A;
   margin-right: 16px;
  }
  .buttn{
    margin-left: 180px;
  }
  .post{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    
  }
  .home{
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
 #block1{
   margin-left: 15rem;
 }
 #search{
   margin-left: 6rem;
 }
 .topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
