<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Worklinks</a>
      </div>
      <div  class="topnav">
       
          <input id="search" type="text rounded" placeholder="Search jobseekers...">
          <button type="submit"><i class="fa fa-search"></i></button>
  
       
      </div>
      
    <div class="buttn" id="pages">
        <a href="#" class="home">Home</a>
        <a href="#" class="post">Post</a>
        <a href="#" class="home">Dashboard</a>
        <!-- <button class="btn " id="signb" routerLink="/jobseeker/register">Sign Up</button> -->
        <button class="btn " id="logoutb" routerLink="#">Logout</button>
    </div>
  </nav>
  <br><br><br><br><br>
  <div>
    <div id="block1" class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <svg style="height: 17rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M336 0h-288c-26.51 0-48 21.49-48 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48v-416C384 21.49 362.5 0 336 0zM192 128c35.35 0 64 28.65 64 64s-28.65 64-64 64S128 227.3 128 192S156.7 128 192 128zM288 384H96c-8.836 0-16-7.164-16-16C80 323.8 115.8 288 160 288h64c44.18 0 80 35.82 80 80C304 376.8 296.8 384 288 384z"/></svg>
          <!-- <img src="" class="fa-solid fa-image-portrait" alt=""> -->
        </div>
        <div class="col-md-8">
          <div class="card-body rounded">
            <h5 class="card-title">Safaricom PLC</h5>
            <p class="card-text">Nairobi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut, asperiores voluptate, error nobis veniam eveniet et sapiente enim quidem laboriosam! Eius sapiente est dolorum deleniti explicabo rerum rem asperiores!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="block1" class="card" style="max-width: 940px;">
    <div style="color: purple;" class="card-body">
      <h5 style="color: black;" class="card-title">Active Jobs</h5>
      <h6 class="card-subtitle mb-2 text-muted">Jobs you have posted in the last few days</h6><br>
      <p class="card-text">Chief Financial Officer</p>
      <p class="card-text">Nairobi</p>
      <p href="#" class="card-link">150KES- 200KES</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ut illo illum eum, deserunt perspiciatis non sequi, veritatis odit optio debitis quasi ea commodi repudiandae excepturi? Odit error explicabo repudiandae.</p>
      <button type="button" class="btn btn-warning">Delete</button>
    </div>
    <hr style="width: 52rem;margin-left:4rem">
    <div style="color: purple;" class="card-body rounded">
     
      <p class="card-text">Data Analyst</p>
      <p class="card-text">Westlands</p>
      <p href="#" class="card-link">250KES- 280KES</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ut illo illum eum, deserunt perspiciatis non sequi, veritatis odit optio debitis quasi ea commodi repudiandae excepturi? Odit error explicabo repudiandae.</p>
      <button type="button" class="btn btn-warning">Delete</button>
  </div>
 
