
#hero {
  background-image: url(https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}


.hero{
  width: 80%; 
  padding-top: 100px;
}

#jobseekers {
  background-image: url(https://c1.wallpaperflare.com/preview/178/815/737/professions-job-digital-digitization.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#recruiters {
  background-image: url(https://media.istockphoto.com/photos/skills-learning-personal-development-finance-competency-business-picture-id1319404394?b=1&k=20&m=1319404394&s=170667a&w=0&h=e7hL3jnIwoiQpDRS7TLq0VqR1l_fhUQxfg-B67UvEUI=);
  background-repeat: no-repeat;
  background-size: cover;
}

.jobseekers{
  float: right;
  width: 80%; 
  padding-top: 100px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px
}

li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f140";
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}
#container {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  width: 100%;
}

