<app-navigation-bar></app-navigation-bar>
<div></div>
<div class="row" style="padding-top: 200px; margin-left: 60px; margin-right: 60px; display: flex; column-gap: 40px;">
  <div class="col">
    <div class="hero" >
      <h3>Get your dream job and approach qualified jobseekers on our website.</h3> <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, quasi voluptate facere reiciendis nisi voluptates accusamus quo cupiditate natus exercitationem dolor, voluptatem fuga dolores nulla officia, blanditiis impedit deleniti eveniet?</p>
    </div>
    <div>
      <button>placeholdr</button>
    </div>
   
  </div>
  <div class="col" id="hero">
  
  </div>
</div>