<app-navigation-bar></app-navigation-bar>
<div class="container">
  <!--hero-->
  <div class="row " style="text-align: left; height: 480px; column-gap: 40px;">
    <div class="col">
      <div class="hero" style="margin-top: 100px;">
        <h3>Get your dream job and approach qualified jobseekers on our website.</h3> <br>
        <p>Join our growing community where we connect you to the right job or help you find qualified candidates for your job.</p>
        <div class="row align-items-center" style="padding-top:20px ;">
          <div class="col"></div>
          <div class="col">
            <button type="button" class="btn btn-primary">Sign up now</button>
          </div>
          <div class="col"></div>
        </div>
      </div> 
    </div>
    <div class="col" id="hero">
      <h4></h4>
      <h5></h5>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <!--statistics-->
  <div class="row align-items-center" style="text-align: center;">
    <div class="col" style=" border-right: 1px solid grey;">
      <h4>10k +</h4>
      <h5>jobs</h5>
    </div>
    <div class="col" style=" border-right: 1px solid grey;">
      <h4>5k</h4>
      <h5>matches made</h5>
    </div>
    <div class="col">
      <h4>10k</h4>
      <h5>jobseekers</h5>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <!--why job seekers love us-->
  <div class="row " style="text-align: left; height: 450px; column-gap: 40px;">
    <div class="col" id="jobseekers">
      <h4></h4>
      <h5></h5>
    </div>
    <div class="col">
      <div class="jobseekers">
        <h4>Why jobseekers love us</h4><br>
        <ul>
          <li> We help jobseekers<strong> grow </strong>their careers & showcase their skills & qualifications to <strong> potential employers.</strong> </li>
          <li> Say goodbye to cover letters - your profile is all you need. Your next job is<strong> one click </strong>away</li>
          <li> Find a job that is <strong>consistent, rewarding and reflective</strong>  of your skill set</li>
          <li> Open up a whole new world of <strong>opportunity</strong> and possibilities </li>
        </ul>
        <div class="row align-items-center" style="padding-top:20px ;">
          <div class="col"></div>
          <div class="col">
            <button type="button" class="btn btn-primary">Sign up now</button>
          </div>
          <div class="col"></div>
        </div>
      </div> 
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row " style="text-align: left; height: 450px; column-gap: 40px;">
    <div class="col">
      <div class="hero">
        <h4>Why employers love us</h4><br>
        <ul>
          <li> <strong> Browse</strong> through jobseekers' profiles based on category and salary expectations</li>
          <li> Find <strong>qualified</strong> candidates for your company.</li>
          <li>  <strong> contact</strong> ONLY jobseekers who already have what you are looking for instead of going through hundreds of applications;</li>
        </ul>
        <div class="row align-items-center" style="padding-top:20px ;">
          <div class="col"></div>
          <div class="col">
            <button type="button" class="btn btn-primary">Sign up now</button>
          </div>
          <div class="col"></div>
        </div>
      </div> 
    </div>
    <div class="col" id="recruiters">
      <h4></h4>
      <h5></h5>
    </div>
  </div>
  <br>
  <div class="container-fluid" style="background-color: rgb(246, 246, 246); margin-top: 20px; padding-top: 20px;">
    <div class="row align-items-center" style="text-align: center;">
      <br>
      <h3>What we offer</h3>
      <br>
      <br>
      <div class="row" style="height: 400px; padding-left: 150px; padding-right: 150px; padding-top: 50px;">
        <div class="col">
          <h4 >CV Writting  - 90%</h4>
          <div class="progress red">
              <div class="progress-bar" style="width: 90%;  background-color:#49224a;">
              </div>
          </div>
          <br>
          <h4  >Mentorship  - 50%</h4>
          <div class="progress green">
              <div class="progress-bar" style="width: 50%;  background-color:#E2AA2E">
              </div>
          </div>
          <br>
          <h4 >Company Placement - 80%</h4>
          <div class="progress blue">
              <div class="progress-bar" style="width:80%;  background-color:#49224a;">
              </div>
          </div>
          <br>
          <h4 >Global Internships - 65%</h4>
          <div class="progress yellow">
              <div class="progress-bar" style="width:65%; background-color:#E2AA2E;">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-testimonials></app-testimonials> 
</div>



