<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" font-family="Big Shoulders Stencil Display" href="#">WorkLinks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/seekers-profile">View Profile</a></li>
                        <li><a class="dropdown-item" href="/recruiter-profile">Update Profile</a></li>

                    </ul>
                </li>
                <li>
                    <button class="btn btn-primary" type="submit">LogOut</button>
                </li>

            </ul>



        </div>
    </div>
</nav>
<div class="container">
    <div class="prof">
        <div class="pic">
            <i class="fa fas fa-user" aria-hidden="true"></i>
        </div>
        <div class="details">
            <h5><span> <i class="fa  fa-user" aria-hidden="true"></i>:</span>Sareto Tracy</h5>
            <h5><span><i class="fa fa-envelope" aria-hidden="true"></i>:</span>sarteotracy@gmail.com</h5>
            <h5><span><i class="fa fa-address-card" aria-hidden="true"></i>:</span>vineyard 43 street </h5>
            <h5><span><i class="fa fa-phone-square" aria-hidden="true"></i>:</span>0745939721</h5>
        </div>
    </div>
    <div class="bio">
        <h3>Bio</h3>
        <div class="p-3 bi border">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
        </div>
    </div>
    <div class="bio">
        <h3>Bio</h3>
        <div class="p-3 bi border">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
        </div>
    </div>
    <div class="bio">
        <h3>Work Experience</h3>
        <div class="p-3 bi border">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
        </div>
    </div>
    <div class="bio">
        <h3>Education</h3>
        <div class="p-3 bi border">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
        </div>
    </div>
    <div class="bio">
        <h3>Skills</h3>
        <div class=" p-3 bi border">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">Soft Skills</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">React</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">JavaScript</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">Software Development</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">Project Managment</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bio">
        <h3>References</h3>
        <div class=" p-3 bi border">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae repellat ipsum alias <br> recusandae qui architecto veniam eveniet et earum! Perspiciatis cum, harum nisi labore <br> tenetur aliquam nostrum aliquid reiciendis asperiores?
        </div>
    </div>
</div>