.footer {
    background-color: #49224A;
}
.btn {
    background-color: #E2AA2E;
}

.para1{
    margin-left: -9rem;
}
#finale.a{
    margin-left: 7rem;
}
#icon{
    margin-left: 100rem;
}
.footfoot{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 2rem;
    /* margin-left: -6rem; */
}
#icon{
  min-width: 30px;
}
/* .footfoot1{
    margin-left: -6rem;
} */

