<br>
<div class="container-fluid">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #49224a"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class=" mb-4 font-weight-bold">
                <span><strong style="font-family:'Big Shoulders Stencil Text', cursive;font-size:2rem;margin-left:-7rem;">WorkLinks</strong></span>
              </h6>
              <p class="para1">
                Millions of people are searching for jobs, salary information, company reviews, and interview questions. WorkLinks makes it possible for jobseekers to be considered for employment.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold"><strong>Products</strong></h6>
              <p >
                <a style="text-decoration: none;" class="text-white">Find a job</a>
              </p>
              <p>
                <a style="text-decoration: none;" class="text-white">Find a Talent</a>
              </p>
              <!-- <p>
                <a class="text-white">BrandFlow</a>
              </p> -->
              <!-- <p>
                <a class="text-white">Bootstrap Angular</a>
              </p> -->
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold"><strong>Contact</strong></h6>
              <p><i class="fas fa-home mr-3"></i> Westlands,Nairobi 10012, Kenya</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 254 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 254 567 89</p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold"><strong>Follow us</strong></h6>
  
              <!-- Facebook -->
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #3b5998"
                 href="https://www.facebook.com/"
                 role="button"
                 ><i class="fab fa-facebook-f"></i
                ></a>
  
              <!-- Twitter -->
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #55acee"
                 href="https://twitter.com/i/flow/login"
                 role="button"
                 ><i class="fab fa-twitter"></i
                ></a>
  
              <!-- Google -->
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #dd4b39"
                 href="https://www.google.com/account/about/"
                 role="button"
                 ><i class="fab fa-google"></i
                ></a>
  
              <!-- Instagram -->
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #ac2bac"
                 href="https://www.instagram.com/accounts/login/"
                 role="button"
                 ><i class="fab fa-instagram"></i
                ></a>
  
              <!-- Linkedin -->
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #0082ca"
                 href="https://www.linkedin.com/login"
                 role="button"
                 ><i class="fab fa-linkedin-in"></i
                ></a>
              <!-- Github -->
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #333333"
                 href="https://github.com/Teri11/worklinks-frontend"
                 role="button"
                 ><i class="fab fa-github"></i
                ></a>
            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <a style="text-decoration: none;" class="text-white" href="https://github.com/sharonkorir/worklinks-frontend"
           >workLinks@gmail.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
