/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&family=Chonburi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');



body { 
  margin: 0; 
  font-family: 'Krub', sans-serif; 
}

.pri1{
  background-color: #E2AA2E;
  color: white;
}

.sec1{
  background-color: white;
  color: #E2AA2E;
}