<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" font-family="Big Shoulders Stencil Display" href="#">WorkLinks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- <div>
            <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!authenticated">
                <li class="nav-item">
                    <a routerLink="/employer-login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/employer-register" class="nav-link">Register</a>
                </li>
            </ul>

        </div> -->
        <div class="d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/recruiter-dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                        <li><a class="dropdown-item" href="/recruiter-profile">Update Profile</a></li>

                    </ul>
                </li>

                <li>
                    <a routerLink="/employer/login" class="nav-link" (click)="logout()">Logout</a>
                </li>

            </ul>



        </div>
    </div>
</nav>