<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" style="font-family: 'Big Shoulders Stencil Text', cursive; font-size: 40px;" routerLink="/employer/landingpage">WorkLinks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div>
            <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!authenticated">
                <li class="nav-item">
                    <a routerLink="/employer/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/employer/register" class="nav-link">Register</a>
                </li>
            </ul> -->
            

        </div>
        <div class="d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="font-size:larger;" href="/recruiter-dashboard">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/recruiter-profile" style="font-size: larger;">Update Profile</a>
                </li>

                <li>
                <li>
                    <button class="btn btn-sec" type="submit" routerLink="/">LogOut</button>
                </li>
                    <!-- <a routerLink="/" class="nav-link" (click)="logout()" style="font-size:larger;">Logout</a>
               
                    
                </li> -->

            </ul>



        </div>
    </div>
</nav>