<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Worklinks</a>
      </div>
    <div class="buttn" id="pages">
        <a href="#" class="comp" routerLink="/"> Home</a>
        <button class="btn " id="signb" routerLink="/jobseeker/register">Sign Up</button>
        <button class="btn " id="loginb" routerLink="/jobseeker/login">Login</button>
    </div>
</nav>
<form action="/action_page.php" style="border:1px solid #ccc">
    <div class="container" id="regform">
        <div class="head">
            <h1>Register</h1>
      <p>Please enter your credentials to <br> Register as job seeker </p>
        </div>
      <hr>
  
      <label for="email"><b>Name:</b></label><br>
      <input type="text" placeholder="Enter your name" name="email" required><br>

      <label for="email"><b>Email:</b></label><br>
      <input type="text" placeholder="Enter your email" name="email" required><br>

      <label for="phone number"><b>Phone no:</b></label><br>
      <input type="number" placeholder="Enter your phone no." name="phone-no." required><br>
  
  
      <label for="psw"><b>Password:</b></label><br>
      <input type="password" placeholder="Enter your Password" name="psw" required><br>
  
      <label for="psw-repeat"><b>Confirm Password:</b></label><br>
      <input type="password" placeholder="Enter your Password" name="psw-repeat" required>
      
      
  
      <div class="clearfix">
        <button type="submit" class="signupbtn">Submit</button>
      </div>
    </div>
  </form>
  

