<app-navigation-bar></app-navigation-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <form [formGroup]="form" (submit)="submit()">
                <div class="text-center">
                    <p>Sign up and start Applying for Jobs</p>
                </div>

                <input formControlName="name" class="form-control" placeholder="Name" required>

                <input formControlName="email" type="email" class="form-control" placeholder="Email" required>

                <input formControlName="password" type="password" class="form-control" placeholder="Password" required>






                <div>
                    <button type="submit" class="btn btn-pri" routerLink="/">Back</button>
                    <button class="btn btn-pri" type="submit">SignUp</button>
                </div>



            </form>
            <div>
                <p>Have an account?<a class="nav-item nav-link" routerLink="/jobseeker/login">Sign in</a></p>
            </div>
        </div>
    </div>
</div>