.error {
    color: red;
}

form {
    background-color: white;
    border: solid rgb(32, 34, 32) 1px;
    border-radius: 20px 20px 20px 20px;
    padding: 60px;
    width: 100%;
    margin-top: 200px;
    align-items: center;
}

#sb {
    background-color: #E2AA2E;
    color: white;
    margin-top: 20px;
}

#msub {
    background-color: #E2AA2E;
    color: white;
    margin-top: 20px;
}

#ebtn {
    background-color: white;
    color: #E2AA2E;
    border: solid #E2AA2E 1px;
    margin-top: 20px;
}

#sn {
    background-color: white;
    color: #E2AA2E;
    border: solid #E2AA2E 1px;
    margin-top: 20px;
    margin-left: 320px;
}

#mclo {
    background-color: white;
    color: #E2AA2E;
    border: solid #E2AA2E 1px;
    margin-top: 20px;
    margin-left: 30px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email] {
    width: 65%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-color: rgb(32, 34, 32);
    border-width: 0.1px;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    background: white;
    margin-left: 100px;
}

nav {
    /*text-align: center; */
    font-size: 25px;
    background-color: #49224A;
    color: cornsilk;
}

.navbar-brand {
    color: white;
    font: bold;
    padding-left: 40px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 40px;
}

#loginb {
    background-color: #49224A;
    border-color: white;
    margin-right: 10px;
    color: white;
}

#signb {
    background-color: white;
    color: #49224A;
    margin-right: 16px;
}

.buttn {
    margin-left: 1000px;
}

.jobse {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.comp {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.modal-body {
    margin-top: -200px;
}

.btn-pri {
    background-color: #E2AA2E;
    color: white;
    margin-top: 20px;
}

.btn-sec {
    background-color: white;
    color: #E2AA2E;
    border: solid #E2AA2E 1px;
    margin-top: 20px;
}

.head {
    text-align: center;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email] {
    width: 65%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-color: rgb(32, 34, 32);
    border-width: 0.1px;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    background: white;
    margin-left: 100px;
}

#ebtn {
    background-color: white;
    color: #E2AA2E;
    border: solid #E2AA2E 1px;
    margin-top: 20px;
}