nav{
  /*text-align: center; */
  font-size: 25px;
  background-color:#49224A;
  color: cornsilk;
}
.navbar-brand{
  color: white;
  font: bold;
  padding-left: 40px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size:40px;
}
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.spacer {
  flex: 1;
}
.toolbar {
  position: fixed;
  width: 100%;
  /* font-family: 'Big Shoulders Stencil Text', cursive; */
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #49224A;
  color: white;
  font-weight: 600;
}
.toolbar> a{
  text-decoration: none;
  text-align: center;
  margin-left: 15rem;
  color: white;
  font-size: larger;
}
.toolbar img {
  margin: 0 16px;
}
.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}
.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}
.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
#loginb{
  background-color: #49224A;
  border-color: white;
  margin-right: 10px;
  color: white;
}
#signb{
 background-color: white;
 color: #49224A;
 margin-right: 16px;
}
.buttn{
  margin-left: 1100px;
}
.jobse{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.comp{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}