<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
  <div class="navbar-header">
      <a class="navbar-brand" href="#">Worklinks</a>
    </div>
  <div class="buttn" id="pages">
      <a href="#" class="jobse" routerLink="/jobseeker/register"> For job seekers</a>
      <a href="#" class="comp" routerLink="/employer/register"> For employers</a>
      <button class="btn " id="signb" routerLink="/jobseeker/register">Sign Up</button>
      <button class="btn " id="loginb" routerLink="/jobseeker/login">Login</button>
  </div>
</nav>