@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
   margin:0;
   padding:0;
   font-family: 'Roboto', sans-serif;
   position:relative;
}
nav{
   width:100%;
   height:100px;
   background-color:rgba(51, 51, 51, 0.3);
   position:absolute;
   top:0;
   z-index:5;
}

.container{
   width:100%;
}
.container h1{
   font-size:50px
}
.about{
   padding:5% 0;
   width:100%;
   height:auto;
   background-color:#fff;
}
.about .left{
   padding:2% 0;
  line-height: 5rem;
   width:50%;
   display:inline-block;
   font-size: xx-large;
}
.about .right{
   width:50%;
   display:inline-block;
}
.about .right img{
   width:100%
}
.about .left h1{
   text-align:center;
   color:rgb(46, 45, 45);
   margin:0 0 10px 0;
}
.about .left hr{
   width:20%;
   border-top:2px solid #000;
   border-bottom:none;
}
.about .left p{
   font-size:1rem;
   margin:40px auto;
   width:80%
}


.mission .right{
   padding:2% 0;
   width:50%;
display:inline-block;
margin-left: 2rem;
}
.mission .left{
 
   width:45%;

   display:inline-block;
}
.mission .left img{
   width:100%;
}
.mission .right h1{
   text-align:center;
   color:rgb(54, 53, 53);
   margin:0 0 20px 0;
}
.mission .right hr{
   width:35%;
   border-top:2px solid #000;
   border-bottom:none;
}
.mission .right p{
   font-size:1rem;
   margin:40px auto;
   width:80%
}


.team{
   width:90%;
   margin:auto;
   padding:5% 5%;
   over-flow:hidden;
}
.team h1{
   text-align:center;
   color:rgb(43, 41, 41);
   
}
.team h1 hr{
   width:15%;
   border-top:2px solid #000;
   background-color:transperant;
   border-bottom:none;
   margin-bottom:50px;
}
.team .card{
   padding-bottom:20px;
   padding-top:20px;
   position:relative;
   min-width:20%;
   height:500px !important;
   height:auto;
   background-color:#fff;
   display:inline-block;
   margin:40px 6.5%;
   box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
   text-align:center;
}
.card .circle-container{
   position:relative;
   background-color:#1a3d9c;
   width:200px;
   height:200px;
   border:none;
   border-radius:50%;
   margin:auto;
   color:#fff;
}
.circle-container h1{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   margin:0;
   font-size:60px;
}

.team .card h2{
   text-align:center;
   margin:30px 0 0 0;
}
.team .card h4{
   text-align:center;
   margin:10px 0 0 0;
}
.team .card p{
   width:250px;
   margin:30px auto;
   text-align:center;

}
.clear{
    clear: both;			
}

footer{
   width:100%;
   height:100px;
   background-color:#28587c;
}
footer p{
   text-align:center;
   padding: 0 2% ;
}






/* media */
@media(max-width:1200px){
   .mission .right p{
      font-size:.8rem;
      margin:20px auto;
   }
   .about .left p{
      font-size:.8rem;
      margin:20px auto;
   }
}






@media(max-width:992px){
   .about .left{
   width:100%; 
}
   .about .right{
   width:100%; 
}
      .mission .left{
   width:100%; 
}
   .mission .right{
   width:100%; 
}
   .team .card{ 
   width:40%;
}   
}

@media(max-width:768px){
      .team .card{ 
   width:100%;
} 
   nav{
      height:80px;
   }
}

#finya2{
   font-family:'Big Shoulders Stencil Text', cursive;
   margin-left: 2rem;
   background-color: white;
   color: orange;
}

#picpic{
   margin-left: 40rem;
   height: 20rem;
}
#line99{
   font-family:'Big Shoulders Stencil Text', cursive;
   text-align: center;
}
.row{
   margin-top: -15rem;
}

 