<br><br><br>

<body>
     
<div class="header">

</div>

<div class="container">
   
   <div id="about" class="about">
      <div class="left"><strong>Get competent employees &<br> Get your dream job here </strong><br>
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
        <button type="button" class="btn btn-secondary btn-sm">Small button</button>
    </div>
      
      <div class="right">
         <img src="https://media.istockphoto.com/photos/africanamerican-man-browsing-work-online-using-job-search-computer-picture-id918365088?b=1&k=20&m=918365088&s=170667a&w=0&h=EKS_fp_0uL8_nK0DF7ia-FmLtVwSCtJfwJ_Xf-oOI8s="  class="rounded">
      </div>
      <div class="clear"></div>
   </div>
   
   
   
   <!-- <div class="mission">
     
      <div class="left">
      
         <img src="https://i.pinimg.com/736x/7f/1b/ad/7f1bad8f1f5f1464cc9ef3ddfa2c8a9f.jpg"  class="rounded">
      </div>
        
        <div class="right">
         <h1>Mission Statement</h1>
         <hr>
         
         At yourMechanic-, we’re committed to providing the highest quality of commercial mechanic servives available by exceeding the expectations of our clients. It is our wish to create and maintain prosperous and enjoyable environments where performance can thrive.
      </div>
      <div class="clear"></div>
      
   </div> -->

  
</div>

</body>
