<br><br><br>

<body>
     
<div class="header">

</div>

<div class="container">
   
   <div id="about" class="about">
      <div class="left"><strong>Get competent employees &<br> Get your dream job here </strong><br><br>
        <button type="button" class="btn btn-warning btn-lg">Find a Job</button>
        <button style="margin-left: 2rem;" type="button" class="btn btn-warning btn-lg">Find a Talent</button>
    </div>
      <div class="right">
         <img src="https://images.unsplash.com/photo-1610652492500-ded49ceeb378?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODJ8fGh1bWFuJTIwYmxhY2tzJTIwam9iJTIwc2Vla2Vyc3xlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"  class="rounded">
      </div>
      
   </div>
   
   
   
   <div class="mission">
     
      <div class="left">
      
         <img style="margin-right: 3rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqpC6lUl4b03ZtOGij4cAHTi_iTb1QV0I65g&usqp=CAU"  class="rounded">
      </div>
        
        <div class="right">
         <h1>Why Job Seekers & Recruitors love us</h1>
         <hr>
         
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iure odio labore maiores est nesciunt doloremque, blanditiis sequi ratione eius repellendus illo rerum porro recusandae. Impedit similique esse quibusdam recusandae?
      </div>
      <div class="clear"></div>
      
   </div>

  
</div>

</body>
