<div class="container-fluid">
    <h2 class="text-center">Create Company's Profile to get started with WorkLinks</h2>
    <br>
    <br>
    <h4>Company Information</h4>

    <hr>
    <form>

        <div class="form-group">

            <label for="name">Company Names</label>

            <input type="text" required class="form-control" id="name">

        </div>
        <div class="form-group">

            <label for="name">Company Logo</label> <br>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file">
            </form>

        </div>
        <div class="form-group">

            <label for="name">Location</label>
            <input type="text" required class="form-control" id="name">

        </div>


        <div class="form-group">

            <label for="name">Website</label>
            <input type="text" required class="form-control" id="name">

        </div>
        <div class="form-group">

            <label for="name">One Line pitch</label>
            <input type="text" required class="form-control" id="name">

        </div>






        <br>

        <div class="form-group">

            <label for="description">Why Your Company</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>

        </div>
        <br>
        <br>
        <div class="btn">
            <button type="submit" class="btn btn-success">Submit Profile</button>

        </div>
    </form>
</div>