<div class="container-fluid">

    <app-recruiter-navbar></app-recruiter-navbar>

    <h2 class="text-center">{{message}} Create Company's Profile to get started with WorkLinks</h2>
    <br>
    <br>

    <form #userPost='ngForm' (ngSubmit)='onSubmit(userPost.value)'>
        <h4>Company Information</h4>

        <hr>

        <div class="form-group">

            <label for="name">Company Names</label>

            <input ngModel name="name" type="text" required class="form-control" id="name">

        </div>
        <div class="form-group">

            <label for="name">Company Logo</label> <br>
            <form action="" method="post" enctype="multipart/form-data">
                <input ngModel name="company_pic" type="file">
            </form>

        </div>
        <div class="form-group">

            <label for="name">Location</label>
            <input ngModel name="location" type="text" required class="form-control" id="name">

        </div>


        <div class="form-group">

            <label for="name">Address</label>
            <input type="text" ngModel name="address" required class="form-control" id="name">

        </div>
        <div class="form-group">

            <label for="name">Email</label>
            <input type="email" ngModel name="email" required class="form-control" id="name">

        </div>
        <div class="form-group">

            <label for="name">Company Contacts</label>
            <input type="number" ngModel name="contact" required class="form-control" id="name">

        </div>






        <br>

        <div class="form-group">

            <label for="description">Why Your Company</label>
            <textarea ngModel name="company_bio" class="form-control" id="description" rows="4" required></textarea>

        </div>
        <br>
        <br>
        <div class="btn">
            <button type="submit" class="btn btn-pri">Submit Profile</button>

        </div>
    </form>
</div>