<div class="container-fluid">

  <app-recruiter-navbar></app-recruiter-navbar>

  <h2 class="text-center">{{message}} Create Company's Profile to get started with WorkLinks</h2>
  <br>
  <br>

  <form [formGroup]='form' (ngsubmit)="submit()">
      <h4>Company Information</h4>

      <hr>
      <div class="form-group">

          <label for="name">Company Names</label>

          <input formControlName="name" type="text" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="name">Company Logo</label> <br>
          <form action="" method="post" enctype="multipart/form-data">
              <input formControlName="company_pic" type="file">
          </form>

      </div>
      <div class="form-group">

          <label for="name">Location</label>
          <input formControlName="location" type="text" required class="form-control" id="name">

      </div>


      <div class="form-group">

          <label for="name">Address</label>
          <input type="text" formControlName="address" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="name">Email</label>
          <input type="email" formControlName="email" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="name">Company Contacts</label>
          <input type="" formControlName="contact" required class="form-control" id="name">

      </div>






      <br>

      <div class="form-group">

          <label for="description">Why Your Company</label>
          <textarea formControlName="company
          _bio" class="form-control" id="description" rows="4" required></textarea>

      </div>
      <br>
      <br>
      <div class="btn">
          <button type="submit" class="btn btn-pri">Submit Profile</button>

      </div>
  </form>
</div>